
.ember-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}

form {
  width: 40%;
}

.reminders-container {
  text-align: left;
  width: 50%;
}

.single-reminders-container {
  width: 50%;

}

.spec-reminder-item {
  text-decoration: none;
}

.reminder-title:hover {
  font-size: 1.5em;
}

.active {
  background-color: #40dde2;
}

.spec-reminder-title {
  font-size: 1.5em;
  font-weight: bold;
}

.single-reminder-container {
  background-color: #fcefce;
}
