.ember-view {
  display: flex;
  flex-direction: row;
  width: 100%;
}
/*FORM*/
form {
  width: 60%;
}
/*ALL REMINDERS ON THE LEFT*/
.reminders-container {
  text-align: left;
  width: 50%;
}
.title-link {
  text-decoration: none;
}
.reminder-title:hover {
  font-size: 1.5em;
}
.active {
  background-color: #40dde2;
}
/* ADDING NEW REMINDER */
.spec-input-title,
.spec-input-date,
.spec-input-notes {
  width: 40%;
  height: 20px;
  font-size: .9em;
}
/*SINGLE REMINDER ON THE RIGHT*/
.single-reminders-container {
  width: 50%;
}
.spec-reminder-title,
.spec-reminder-date,
.spec-reminder-notes {
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.individual-note {
  width: 90%;
  margin: auto;
  margin-bottom: 20px;
}
.displayed-reminder-title {
  font-size: 1.5em;
  font-weight: bold;
}
.single-reminder-container {
  background-color: #fcefce;
  width: 65vw;
  display: flex;
  flex-direction: column;
}
.edit-title,
.edit-date,
.edit-notes {
  margin: auto;
  width: 45vw;
  height: 5vh;
  font-size: .9em;
  margin: 5px 0 5px 0;
}
.edit-notes {
  height: 15vh;
}

/*BUTTONS*/
.edit-button,
.save-button {
  width: 45px;
}
