<section>
    <article class="single-reminder-container">
      <p contenteditable=true
        class="spec-reminder-title">
        {{model.title}}
      </p>
      <p contenteditable=true>{{model.date}}</p>
      <p contenteditable=true>{{model.notes}}</p>
      <button>edit</button><button>save</button>
    </article>
</section>

{{outlet}}
