<section class='reminders-container'>
  {{#each model as |reminder|}}
    <article>
        <h1 class="reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}
            {{reminder.title}}
          {{/link-to}}
        </h1>
        <p class="reminder-date">{{reminder.date}}</p>
    </article>
  {{/each}}
  <button>
    {{#link-to 'reminders.new' class="add-reminder-button"}}
    Add Reminder
    {{/link-to}}
  </button>
</section>

{{outlet}}
