<section>
  {{#each model as |reminder|}}
    <article>
        <h1 class="reminder-title">
          {{#link-to 'reminders.reminder' reminder.id class="spec-reminder-item"}}
            {{reminder.title}}
          {{/link-to}}
        </h1>
        <p>{{reminder.date}}</p>
    </article>
  {{/each}}
</section>
{{outlet}}
